/* COMMON NAV STYLES */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
     /* FlexBox Container */
        /* only looks only one level deep */
            /* Parent to Child NOT Parent to grandchildren */
    /* Creates a dynamic layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /**************ADD NOOOOO COMMAS***************/
    /* Top/Bottom */
    padding: 60px 100px;
    /* Goes in a clock work logic */
        /* padding: 60px, 100px, 60px, 100px; */
    /* everything */
        /* padding: 100px; */
    /* Granular approach but long handed */
         /* padding-left: 50px; */
}

/* LEFT_COLUMN */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}



.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

/* class to tag */
.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}


/* class to class */
.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
    color: teal;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}

/* RIGHT_COLUMN */
.right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
    text-align: right;
}

/* call id using # */
/* use id if you will only use the div once */
.navigation-wrapper > .right-column > .address-wrapper {
    display: grid;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: teal;
}

.navigation-wrapper > .right-column > .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.7s;
}

.navigation-wrapper > .right-column > .address-wrapper a:hover {
    color: #cea135;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .contact-icon i {
    color: #cbcbcb;
    transition: 0.7s;
}

.navigation-wrapper > .right-column > .contact-icon i:hover {
    color: #cea135;
}


/* CENTER-COLUMN */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}

/* LINK_WRAPPER */
.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

/* animate */
.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(172, 206, 228);
    text-decoration: none;
    transition: 0.7s;
}

.links-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}
/* animate ^^ */



